#container {
  width: 940px;
  margin: 0 auto;
  margin-top: 10px;
}
#container #header {
  margin-bottom: 20px;
  border-bottom: 1px solid #cecece;
}
#container #header h1 {
  float: left;
}
#container #header span {
  float: left;
  position: relative;
  top: 24px;
  left: 90px;
  color: #999;
  font-style: italic;
}
#container tr.playing {
  color: #aaa;
}
#container #controls {
  padding-bottom: 20px;
  padding-top: 10px;
}
