<!DOCTYPE html> 
<html lang="en-US"> 
    <head> 
        <meta charset="UTF-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CS 498 STK App</title>
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> 
        <link href="/static/vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" /> 
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" /> 
        <link rel="shortcut icon" href="/favicon.ico" /> 
    </head> 
    <body> 
        {% block body %}
        {% endblock %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.min.js"></script> 
        <script type="text/javascript" src="/static/vendor/dustjs/dust-core-1.2.2.js"></script> 
        <script type="text/javascript" src="/static/vendor/moment/moment.min.js"></script> 
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script type="text/javascript" src="/static/js/script.js"></script> 
    </body>
</html>
