{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12"> 
            <h2>Route stuff</h2>

            <div id="map-canvas" ></div>

            <div class="row-fluid">
                <div class="span6">
                    <h4>Left column</h4>
                    Do stuff with javascript here
                </div>
                <div class="span6">
                    <h4>Right column</h4>
                    Route ID: 
                    {{ route_id }}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- the following code is largely from a google api example -->
    <!--
    Include the maps javascript with sensor=true because this code is using a
    sensor (a GPS locator) to determine the user's location.
    See: https://developers.google.com/apis/maps/documentation/javascript/basics#SpecifyingSensor
    -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <script srg="meters.json">
    <script>
      console.log("running script _at all_");
      var map;

      function initialize() {
        console.log("running initialize function");

        var mapOptions = {
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var markers = [];

        for (var i = 0; i < meters.length; ++i) {
          var latLng = new google.maps.LatLng(meters.data[i].latitude, meters.data[i].longitude);
          var marker = new google.maps.Marker({
            position: latLng,
            draggable: false,
          });
          markers.push(marker);

        var mcOptions = {gridSize: 50, maxZoom: 15};
        markerClusterer = new MarkerClusterer(map, markers, mcOptions);


        // Try HTML5 geolocation
        if(navigator.geolocation) {
          console.log("geolocation works");
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude,
                                             position.coords.longitude);

            var infowindow = new google.maps.InfoWindow({
              map: map,
              position: pos,
              content: 'Location found using HTML5.'
            });

            map.setCenter(pos);
          }, function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }
      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Error: The Geolocation service failed.';
        } else {
          var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
          map: map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<!-- end google api example -->

{% endblock %}
