{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12"> 
            <h2>Route stuff</h2>

            <div id="map-canvas" ></div>

            <div class="row-fluid">
                <div class="span6">
                    <h4>Left column</h4>
                    Do stuff with javascript here
                </div>
                <div class="span6">
                    <h4>Right column</h4>
                    Route ID: 
                    {{ route_id }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
